In [40]:
import pandas as pd
import numpy as np

student = {'RollNo':[1,2,3,4,5],
           'name':['Lekshmi','Krishnaveni','Neeraja','Sheena','Shivashankar'],
          'Department':['MCA','MCA','CSE','MECH','MBA'],
          'Semester':['s1','s2','s1','s2','s1']}
df=pd.DataFrame(student)
print("\n\n\n\nBefore Sorting")
print("--------------")
print(df)
print("\n\n\nAfter Sorting")
print("--------------")
df.sort_values(by=['name','RollNo'], ascending=False)

Before Sorting
--------------
   RollNo          name Department Semester
0       1       Lekshmi        MCA       s1
1       2   Krishnaveni        MCA       s2
2       3       Neeraja        CSE       s1
3       4        Sheena       MECH       s2
4       5  Shivashankar        MBA       s1



After Sorting
--------------

   RollNo          name Department Semester
4       5  Shivashankar        MBA       s1
3       4        Sheena       MECH       s2
2       3       Neeraja        CSE       s1
0       1       Lekshmi        MCA       s1
1       2   Krishnaveni        MCA       s2